@import "tailwindcss";
@plugin "daisyui"  {
  themes: false;
}


.navbar {
  padding: 0 !important;
}

@layer utilities {
  .active {
    @apply bg-gradient-to-r from-[#632EE3] to-[#9F62F2] bg-clip-text text-transparent;

    border-bottom: 1px solid transparent;
    background-image: linear-gradient(to right, #632EE3, #9F62F2);
    background-clip: text;
    position: relative;
  }

  .active::after {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background: linear-gradient(to right, #632EE3, #9F62F2);
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
